  
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background: #bdd630;
    transition: background-color 0.5s ease;
    color: #fff;
  }
  #header {
    background: #000;
    height: 40px;
    text-align: center;
  }
  #content {
    /* Now, to activate scrollbars
               and compensate #footer height: */
    padding-bottom: 40px;
  }
  #footer {
    background: #000;
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* cause of fixed pos */
    height: 40px;
    text-align: center;
  }