.ba {
  border-style: solid;
  border-width: 1px;
}

.b--black-05 {
  border-color: rgba(0, 0, 0, .05);
}

.h4 {
  height: 8rem;
}

.w4 {
  width: 8rem;
}

.pa2 {
  padding: .5rem;
}

@media screen and (min-width: 30em) {
  .pa4-ns {
      padding: 2rem;
  }
}