body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monspace; 
  /* background: linear-gradient(89deg, rgb(92, 34, 228) 0%, rgb(164, 115, 255) 100%); */
}
button {
  cursor: pointer;
}

